{
  "extends": ["plugin:prettier/recommended", "plugin:react/jsx-runtime"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    "import/imports-first": 0,
    "import/newline-after-import": 0
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false, // <== ADD THIS // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "env": {
    "browser": true,
    "es2021": true
  }
}
